---
import DefaultLayout from "../layouts/default.astro";
import { CollectionEntry, getCollection } from "astro:content";
import { SITE } from "@config/config";
import FAQMenu from "@components/organisms/FAQMenu.astro";
const { title, description, ...rest } = SITE;
---

<DefaultLayout content={{ title, description }} showPageHeader={false}>
	<main>
		<section class="prose border-b-2 border-b-black pb-6 max-w-5xl">
			<h1 id="about-text" class="mt-8">Hi! I'm Goro!</h1>
			<p id="about-text">
				I'm a full-stack software engineer based in New York City. If you'd like to learn more about my
				technical qualifications, please check out my about page.
			</p>
			<p id="about-text">
				Current Interests:
				<ul class="list-disc max-w-xl mx-2 my-2">
					<li>Data-flow programming</li>
					<li>Reactive Systems</li>
					<li>Multi-device orchestration systems (NodeRED)</li>
					<li>Human Computer Interaction & Interfaces</li>
				</ul>
			</p>
			<p id="about-text" class="italic">
				Pardon the dust, but this website is still under construction...
				Please stay a while and check out some of the other pages, such as my project writeups.
			</p>
			<p id="about-text">
				Eventually, I'd like this page to develop this website as part
				of a larger Personal Knowledge Repository.

				[Notes] section coming soon.
			</p>
		</section>
	</main>
</DefaultLayout>
