---
import { SITE } from "@config/config";
import NavLinks from "./NavLinks.astro";
import { NAVBAR_ITEMS } from "@config/config";
import SiteIcon from "./SiteIcon.astro";
---

<header class="border-b-2 border-b-black pb-3 w-3xl max-w-5xl">
	<div class="mx-auto flex w-3xl md:w-5xl flex-col max-w-5xl">
		<SiteIcon />
		<nav
			aria-label="Site Navigation"
			class="flex-row w-3xl md:w-5xl max-w-5l py-2 px-4"
		>
			<ul
				class="flex flex-wrap items-center md:flex-nowrap gap-4 text-xs font-medium md:text-sm text-black-500"
			>
				{
					Object.keys(NAVBAR_ITEMS).map((item) => (
						<NavLinks
							href={NAVBAR_ITEMS[item].path}
							title={NAVBAR_ITEMS[item].title.toUpperCase()}
							path={NAVBAR_ITEMS[item].path}
						/>
					))
				}
			</ul>
		</nav>

	</div>
</header>

<style>
.nav-container {

}
</style>
