---
---

<a
	href="/"
	class="px-4 py-2 md:py-4 md:px-4 flex-col items-center justify-self-start rounded-lg max-w-lg max-h-lg"
>
	<!--
	<p class="text-5xl font-icon md:text-5xl shrink-0 items-center">ゴラウ</p>
	-->
	<p class="text-5xl font-icon md:text-7xl shrink-0 items-center pb-2">Goro's Memex</p>
	<p class="text-1xl font-icon md:text-3xl text-gray-400 shrink-0 items-center">ごろうのミーメックス</p>
	<span class="sr-only">Logo</span>
</a>
